<nav class="navbar">
    <div class="navbar__brand">
        <img class="navbar__logo" src="\static\media\logo.jpg" alt="SystemVet Logo">
        SystemVet App
    </div>
    <div class="navbar__toggle">
        <span class="navbar__icon"></span>
        <span class="navbar__icon"></span>
        <span class="navbar__icon"></span>
    </div>
    <div class="navbar__menu">
        <a href="{% url "clientes:cliente_list" %}" class="navbar__item">Clientes</a>
        <a href="{% url 'tutores:listatutores' %}" class="navbar__item">Tutores</a>
        <a href="#" class="navbar__item">Vacinas</a>
        <a href="#" class="navbar__item">Consulta</a>
    </div>
</nav>