<!-- tutores/adicionar_tutor.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Adicionar Tutor - {% endblock title %}
{% block content %}
<div class="tutor-editar-container">
    <h1 class="tutor-editar-title">Adicionar Tutor</h1>
    
    <!-- Exibe mensagens de sucesso ou erro -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- Formulário gerado automaticamente pelo Django -->
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }} <!-- Exibe erros gerais do formulário -->
        
        <!-- Renderiza cada campo do formulário com suas respectivas classes e mensagens de erro -->
        <div class="form-group">
            <label for="{{ form.nome.id_for_label }}">Nome:</label>
            {{ form.nome }}
            {{ form.nome.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.endereco.id_for_label }}">Endereço:</label>
            {{ form.endereco }}
            {{ form.endereco.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.cidade.id_for_label }}">Cidade:</label>
            {{ form.cidade }}
            {{ form.cidade.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.estado.id_for_label }}">Estado:</label>
            {{ form.estado }}
            {{ form.estado.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.cep.id_for_label }}">CEP:</label>
            {{ form.cep }}
            {{ form.cep.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.cpf.id_for_label }}">CPF:</label>
            {{ form.cpf }}
            {{ form.cpf.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.rg.id_for_label }}">RG:</label>
            {{ form.rg }}
            {{ form.rg.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.telefone.id_for_label }}">Telefone:</label>
            {{ form.telefone }}
            {{ form.telefone.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.data_nascimento.id_for_label }}">Data de Nascimento:</label>
            {{ form.data_nascimento }}
            {{ form.data_nascimento.errors }}
        </div>
        
        <button type="submit" class="button">Salvar</button>
    </form>
</div>

<!-- Inclua o arquivo CSS -->
<link rel="stylesheet" href="{% static 'css/styless.css' %}">

{% endblock content %}