{% extends "base.html" %}
{% load static %}
{% block title %}Editar Tutor - {% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/styless.css' %}">
{% endblock head %}
{% block content %}
<div class="tutor-editar-container">
    <h1 class="tutor-editar-title">Editar Tutor</h1>
    <form class="form-group" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Salvar Alterações</button>
    </form>
</div>
{% endblock content %}
