<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "partials/_head.html" %}
    <title>{% block title %}{% endblock title %} SystemVet App</title>
</head>
<body>
    {% include "partials/_nav.html" %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggleButton = document.querySelector('.navbar__toggle');
            const menu = document.querySelector('.navbar__menu');
        
            toggleButton.addEventListener('click', () => {
                menu.classList.toggle('active');
            });
        });
        
    </script>
</body>
</html>